.container{
    margin:50px 0;
}
.card{
    margin:0  2% !important;
 
    text-align: center;
}
.infected{
    background-color: #1976d2 !important;
    color: #ffffff !important;
    
}
.recovered{
    background-color: rgb(67 177 11) !important;
    color: #ffffff !important;
}
.deaths{
    background-color: rgb(220, 0, 78) !important;
    color: #ffffff !important;
}

.title{
    text-transform: uppercase;
    font-weight: 800;
    font-size: 25px;
    padding-bottom: 10px;
    margin: 0;
}
.textDescription{
    font-style: italic;
    font-size: 15px;
}
.date{
    color: #fff;
}